body {
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    height:80px;
    width:100%;
    position: sticky;
    top:0; 
    background-color: transparent;
    box-shadow: 0 10px 20px grey;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 0 2rem;
    max-width:1600px;

}
.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.navbar-container .navbar-menu {
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color:black;
    font-size: 1.3rem;
    padding:3px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover{
    background-color: rgba(236, 235, 235, 0.141);
    color:rgb(82, 239, 239);
}
.navbar-toggle {
    display: none;
    background: transparent;
    border:none;
    padding:10px;
    cursor:pointer;
}
.bar {
    display:block;
    width:25px;
    height: 3px;
    margin:5px auto;
    background: black;
    transition: all 0.3s ease-in-out;
}
@media screen  and (max-width:880px){
    .navbar {
        backdrop-filter:none;
    }
    .navbar-container .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
        gap:1.7rem !important;
        position: absolute;
        height: 50vh;
        width:200px;
        top:0;
        right: 0;
        padding:5rem 1.5rem;
        box-shadow: 0 10px 10px lightgray;
        backdrop-filter: blur(10px);
    }
    .navbar-toggle {
        display: block;
        z-index:999;
    }
}